@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body{ background-color:#646262 !important ;}

.background-grey
{background-color:#646262 !important;}
.background-none
{border:none !important;}
.min-height-200{min-height: 200px;}
